@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-base: #101725;
  --bg-container: #151d2c;
  --bg-container-50: #151d2c80;
  --bg-container-60: #151d2c99;
  --border: #1a2130;
  --tooltip-bg: var(--bg-container);
}

body {
  overflow: scroll;
  height: 100%;
}
